body
{
    /* background-image: url("volimg.jpg"); */
    background: linear-gradient(to right,rgb(72, 159, 209),rgba(71, 132, 211, 0.4));

}
.mi
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mi h2
{
    font-size: 4rem;
    text-decoration: underline;
}
#con
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#con img
{
    height: 30rem;
}
#incon
{
    font-size: 2rem;
    margin-left: 1rem;
}